/*--------- All of the Pages ---------*/

main {
  text-align: center;
  background-color: rgb(241, 226, 241);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-text-stroke: 1px orange;
  color: silver;
  background-color: purple;
  padding: 2rem;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: silver;
  padding: 1rem;
}

.navBar a {
  color: white;
  text-decoration-line: none;
}

.titleOfPage {
  font-family: cursive;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*----------- Home Page -----------*/

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

#portrait {
  width: 20vw;
}

/*--------- About Me Page ---------*/

.aboutMeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.maple {
  padding: 2rem;
  width: 20vw
}

/*---------- Hobbies Page ----------*/

.hobbiesPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.silksPhotos {
  width: 15vw;
  margin: 2rem;
}

.skydivePhotos {
  width: 25vw;
  margin: 1rem;
}

#ALicense {
  width: 20vw;
  margin-right: 3rem;
}

/*---------- Projects Page ----------*/
 
.icons {
  width: 15vw;
  padding: 2rem;
}

/*-------- Work Herstory Page -------*/

.resume {
  height: 50vh;
  width: 50vw;
  margin-top: 1rem;
}

/*--------- Contact Me Page ---------*/