/*--------- All of the Pages ---------*/

/*The whole page*/
main {
  text-align: center;
  background-color: rgb(241, 226, 241);
  min-height: 60vh;
}

/*The title of my website*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-text-stroke: 1px orange;
  color: silver;
  background-color: purple;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/*The nav bar on every page*/
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: silver;
  padding: 1rem;
}

/*The nav bar text*/
.navBar a {
  color: white;
  text-decoration-line: none;
}

/*The title on each page*/
.titleOfPage {
  font-family: cursive;
  margin-bottom: 2rem;
}

/*The footer on every page*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*----------- Home Page -----------*/

/*The photo and text together*/
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

/*Just the image*/
#portrait {
  width: 20vw;
}

/*--------- About Me Page ---------*/

/*The photos and text together*/
.aboutMeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*The photos with Maple and me*/
.maple {
  padding: 2rem;
  width: 20vw
}

/*---------- Hobbies Page ----------*/

/*The photos and text together*/
.hobbiesPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Top photos of me doing silks*/
.silksPhotos {
  width: 15vw;
  margin: 2rem;
}

/*Bottom photos of me skydiving*/
.skydivePhotos {
  width: 25vw;
  margin: 1rem;
}

/*Photo of me with A license*/
#ALicense {
  width: 20vw;
  margin-right: 3rem;
}

/*---------- Projects Page ----------*/

/*GitHub and LinkedIn logo images*/
.icons {
  width: 15vw;
  padding: 2rem;
}

/*-------- Work Herstory Page -------*/

/*My resume*/
.resume {
  height: 38vh;
  width: 50vw;
  margin-top: 2rem;
}

/*--------- Contact Me Page ---------*/

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .75rem;
}

.labels {
  margin: .3rem;
}

.message {
  width: 45vw;
  height: 22vh;
}

.button {
  background-color: indigo;
  color: white;
  font-size: medium;
  font-family: cursive;
}