/*--------- All of the Pages ---------*/

/*The whole page*/
main {
  text-align: center;
  background-color: rgb(241, 226, 241);
  min-height: 100vh;
}

/*The title of my website*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-text-stroke: 1px orange;
  color: silver;
  background-color: purple;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/*The nav bar on every page*/
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: silver;
  padding: 1rem;
}

/*The nav bar text*/
.navBar a {
  color: white;
  text-decoration-line: none;
}

/*The title on each page*/
.titleOfPage {
  font-family: cursive;
  margin-bottom: 1rem;
}

/*The footer on every page*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  position: static;
}

/* Song video */
/* #song {
  border-radius: 0.75rem;
} */

/*----------- Home Page -----------*/

/*The photo and text together*/
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

/*Just the image*/
#portrait {
  width: 20vw;
  /* border-radius: 0.75rem; */
}

/*--------- About Me Page ---------*/

/*The photos and text together*/
.aboutMeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*The photos with Maple and me*/
.maple {
  padding: 2rem;
  width: 20vw;
  /* border-radius: 0.75rem; */
}

@media (max-width: 1000px) {
  .aboutMeSection {
    flex-direction: column;
  }
}

/*---------- Projects Page ----------*/
 
/* Container where icons are */
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*GitHub and LinkedIn logo images*/
.icons {
  width: 15vw;
  padding: 2rem;
  /* border-radius: 0.75rem; */
}

/*---------- Hobbies Page ----------*/

/*The photos and text together*/
.hobbiesPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Top photos of me doing silks*/
.silksPhotos {
  width: 17vw;
  margin: 1rem;
  margin-top: 0;
}

/*Bottom photos of me skydiving*/
.skydivePhotos {
  width: 25vw;
  margin: 2rem;
}

/*Photo of me with A license*/
#ALicense {
  width: 20vw;
  margin-right: 3rem;
}

/* For screens under 800px */
@media (max-width: 800px) {
  .hobbiesPage {
    flex-direction: column;
  }
}

/*-------- Work Herstory Page -------*/

/* Whole page */
.workPage {
  margin-left: 2rem;
  margin-right: 2rem;
}

/*My resume*/
.resume {
  height: 40vh;
  width: 60vw;
  margin-top: 1rem;
}

/*--------- Contact Me Page ---------*/

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .75rem;
}

.labels {
  margin: .3rem;
}

.message {
  width: 45vw;
  height: 18vh;
}

.button {
  background-color: indigo;
  color: white;
  font-size: medium;
  font-family: cursive;
}